<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>brendamarcela-001-site1.etempurl.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://brendamarcela-001-site1.etempurl.com:8172/MsDeploy.axd?site=brendamarcela-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>brendamarcela-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>brendamarcela-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataBase" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5063.site4now.net;Initial Catalog=DB_A6BF45_BrendaMarcela;User ID=DB_A6BF45_BrendaMarcela_admin;Password=Marcela1997" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TAKOMEX.Models.DataBase, TAKOMEX" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TakomexEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5063.site4now.net;Initial Catalog=DB_A6BF45_BrendaMarcela;User ID=DB_A6BF45_BrendaMarcela_admin;Password=Marcela1997" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=Takomex;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TakomexEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Login.csdl|res://*/Models.Login.ssdl|res://*/Models.Login.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Takomex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TakomexEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Login.csdl|res://*/Models.Login.ssdl|res://*/Models.Login.msl;provider=System.Data.SqlClient;provider connection string="data source=sql5063.site4now.net;initial catalog=DB_A6BF45_BrendaMarcela;user id=DB_A6BF45_BrendaMarcela_admin;password=Marcela1997;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataBase-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Takomex.csdl|res://*/Models.Takomex.ssdl|res://*/Models.Takomex.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5063.site4now.net;Initial Catalog=DB_A6BF45_BrendaMarcela;User ID=DB_A6BF45_BrendaMarcela_admin;Password=Marcela1997"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>