@model TAKOMEX.Models.Articulos

@{
    Layout = null;
}
@{ Html.RenderAction("header"); }

<div class="container mb-5 mt-5">
    <h3>Revisar Compra</h3>
    <hr>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <table class="table table-bordered mt-3 ml-3 mr-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><div style="width: 125px;">Producto       </div></th>
                            <th scope="col"><div style="width: 115px;">Precio Unitario</div></th>
                            <th scope="col"><div style="width: 50px;">Cantidad        </div></th>
                            <th scope="col"><div style="width: 50px;">Subtotal        </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                            <td>asdf</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>twitter</td>
                            <td>asdf</td>
                            <td>asdf</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">Direccion de Envío <p>asd</p></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">Dirección de Facturación <p>asd</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card">
                <h5 class="card-header">Resumen</h5>
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="card-header w-100 d-flex flex-row">
                                <div class="col">Envio </div>
                                <div class="col">$123.00 </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="card-body w-100 d-flex flex-row">
                                <div class="col">Total </div>
                                <div class="col">$123.00 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-100 mt-3">Confirmar pedido</button>
        </div>
    </div>
</div>

@{ Html.RenderAction("footer"); }